# 0. Packages & Functions

In [1]:
import pandas as pd
import string
from nltk import ngrams
from collections import Counter
from sklearn.metrics import classification_report, confusion_matrix
import torch
from transformers import AutoTokenizer, AutoModelForMaskedLM, pipeline, AutoModelForSequenceClassification, AutoModelForSeq2SeqLM
import pyarrow.parquet as pq
import pyarrow as pyarrow
import numpy as np
from itertools import combinations
import time
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from tqdm import tqdm
import re

In [2]:
#pre-process text for lexicon based approaches
def preprocess_text(text):
    # remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # convert to lower case
    text = text.lower()
    # remove blank spaces
    text = ' '.join(text.split())
    # remove newline characters
    text = text.replace('\n', '')
    return text

def text_cleaning_final(text):
    # remove blank spaces
    text = ' '.join(text.split())
    
    # remove newline characters
    text = text.replace('\n', '')
    
    # Use regular expressions to match punctuation marks
    pattern = r'([!"#$%&\'()*+,-./:;<=>?@\[\\\]^_`{|}~])'
    # Replace punctuation marks with whitespaces before and after them
    text = re.sub(pattern, r' \1 ', text)
    
    return text

In [45]:
def count_lexicon_words(text_df, lexicon):
    lexicon = lexicon["Lexicon"]
    frequency = []
    present = []
    rfrequency = []
    rpresent = []

    for text in tqdm(text_df["Text"]):
        lexicon_counts = 0
        present_count = 0
        for word in lexicon:
            lexicon_counts += text.lower().count(word.lower())
            if(text.lower().count(word.lower()) > 0):
                present_count += 1
        
        word_list = text.split() 
        word_count = len(word_list)

        frequency.append(lexicon_counts)
        present.append(present_count)
        rfrequency.append((lexicon_counts/word_count)*100)
        rpresent.append((present_count/word_count)*100)
        
        
    text_df["Absolute Frequency"] = frequency
    text_df["Absolute Present"] = present
    text_df["Relative Frequency"] = rfrequency
    text_df["Relative Present"] = rpresent
    
    return(text_df)

def get_metrics(df, colname, threshold):
    target = []
    values = df[colname]
    
    for v in values:
        if v >= threshold:
            target.append("Yes")
        else:
            target.append("No")
    
    df["Estimate"] = target
    
    cross_table = pd.crosstab(df['Target'], df['Estimate'], margins=True)
    accuracy = (cross_table.iloc[0, 0] + cross_table.iloc[1, 1]) / cross_table.loc['All', 'All'] if cross_table.shape == (3,3) else cross_table.iloc[1,0] / (cross_table.iloc[1, 0] + cross_table.iloc[0,0]) 
    precision = cross_table.iloc[1,1] / (cross_table.iloc[0,1] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) else 0
    recall = cross_table.iloc[1,1] / (cross_table.iloc[1,0] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) != 0 else 0
    f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) != 0 else 0
    return([accuracy, precision, recall, f1_score])

def get_gross_table_data(df, colname, threshold, binary):
    target = []
    values = df[colname]
    
    for v in values:
        if v >= threshold:
            target.append("Yes")
        else:
            target.append("No")
    
    df["Estimate"] = target
    
    if(binary):
        cross_table = pd.crosstab(df['Target'], df['Estimate'], margins=True)
    else:
        cross_table = pd.crosstab(df['Final_Climate_Change_Level_Label'], df['Estimate'], margins=True)
    return(cross_table)
    
def find_optimal_threshold(df, lexicon, lexicon_name):
    df = count_lexicon_words(df, lexicon)
    
    #absolute frequency
    af_accuracy = 0
    af_th = 0
    found = False
    while(found == False):
        metrics = get_metrics(df, "Absolute Frequency", af_th)
        if metrics[0] > af_accuracy:
            af_accuracy = metrics[0]
            af_precision = metrics[1]
            af_recall = metrics[2]
            af_f1 = metrics[3]
            af_th += 1
        else:
            found = True
            
    #absolute present
    ap_accuracy = 0
    ap_th = 0
    found = False
    while(found == False):
        metrics = get_metrics(df, "Absolute Present", ap_th)
        if metrics[0] > ap_accuracy:
            ap_accuracy = metrics[0]
            ap_precision = metrics[1]
            ap_recall = metrics[2]
            ap_f1 = metrics[3]
            ap_th += 1
        else:
            found = True
            
    #relative frequency
    rf_accuracy = 0
    rf_th = 0
    found = False
    while(found == False):
        metrics = get_metrics(df, "Relative Frequency", rf_th)
        if metrics[0] > rf_accuracy:
            rf_accuracy = metrics[0]
            rf_precision = metrics[1]
            rf_recall = metrics[2]
            rf_f1 = metrics[3]
            rf_th += 0.1
        else:
            found = True
            
    #relative present
    rp_accuracy = 0
    rp_th = 0
    found = False
    while(found == False):
        metrics = get_metrics(df, "Relative Present", rp_th)
        if metrics[0] > rp_accuracy:
            rp_accuracy = metrics[0]
            rp_precision = metrics[1]
            rp_recall = metrics[2]
            rp_f1 = metrics[3]
            rp_th += 0.1
        else:
            found = True
    
    return(pd.DataFrame({"Lexicon" : [lexicon_name] * 4, 
                         "Technique" : ["Absolute Frequency", "Absolute Present", "Relative Frequency", "Relative Present"],
                         "Threshold" : [af_th - 1, ap_th - 1, rf_th - 0.1, rp_th - 0.1], 
                 "Accuracy" : [af_accuracy, ap_accuracy, rf_accuracy, rp_accuracy], 
                        "Precision" : [af_precision, ap_precision, rf_precision, rp_precision], 
                        "Recall" : [af_recall, ap_recall, rf_recall, rp_recall], 
                        "F1 Score" : [af_f1, ap_f1, rf_f1, rp_f1]}))
    
def test_lexicon(test_df, results_df, lexicon, lexicon_name):
    techniques = ["Absolute Frequency", "Absolute Present", "Relative Frequency", "Relative Present"]
    df = count_lexicon_words(test_df, lexicon)
    accuracy = []
    precision = []
    recall = []
    f1 = []
    th_df = []
    for t in range(len(techniques)):
        th = results_df[results_df["Technique"] == techniques[t]]["Threshold"].iloc[0]
        th_df.append(th)
        accuracy.append(get_metrics(df, techniques[t], th)[0])
        precision.append(get_metrics(df, techniques[t], th)[1])
        recall.append(get_metrics(df, techniques[t], th)[2])
        f1.append(get_metrics(df, techniques[t], th)[3])
    
    return(pd.DataFrame({"Lexicon" : [lexicon_name] * 4, "Technique" : techniques, "Threshold" : th_df ,
                         "Test Accuracy" : accuracy, 
                        "Test Precision" : precision, 
                        "Test Recall" : recall, 
                        "Test F1 Score" : f1}))



def get_cross_table(text_df, lexicon, threshold, colname, binary):
    df = count_lexicon_words(text_df, lexicon)
    return(get_gross_table_data(df, colname, threshold, binary))

def get_most_words_used(text_df, lexicon):
    lexicon = lexicon["Lexicon"]
    output = {}

    for text in tqdm(text_df["Text"]):
        for word in lexicon:
            if(text.lower().count(word.lower()) > 0):
                if word in output:
                    # Increment the value by 1
                    output[word] += 1
                else:
                    # Add the value to the dictionary with an initial count of 1
                    output[word] = 1

    
    return(output)

In [4]:
def summary(df_with_text, name, model_name, max_lenght_input=-1):
    data_in_list = df_with_text[name].tolist()
    tokenizer_sum = AutoTokenizer.from_pretrained(model_name)
    model_sum = AutoModelForSeq2SeqLM.from_pretrained(model_name)
    summarizer = pipeline('summarization', model=model_sum, tokenizer = tokenizer_sum) 

    if max_lenght_input>=0:
        df_with_text['summary'] = summarizer(data_in_list, max_length=max_lenght_input)

    else:
        df_with_text['summary'] = summarizer(data_in_list)

def classification(df_with_text, name, model_name, max_lenght_input=-1):
    data_in_list = df_with_text[name].tolist()
    tokenizer_clas = AutoTokenizer.from_pretrained(model_name)
    model_clas = AutoModelForSequenceClassification.from_pretrained(model_name)
    classification = pipeline('text-classification', model=model_clas, tokenizer = tokenizer_clas) 

    if max_lenght_input>=0:
        df_with_text['classification'] = classification(data_in_list, max_length=max_lenght_input, truncation=True)

    else:
        df_with_text['classification'] = classification(data_in_list)
        
    return(df_with_text)

def get_metrics_hugging_face(text_df, text_column, model, tokens):
    
    df = classification(text_df, text_column, model, tokens)
    label_list = list(df["classification"])
    labels = [entry['label'] for entry in label_list]
    df["Label_Hugging"] = labels
    
    cross_table = pd.crosstab(df['Target'], df['Label_Hugging'], margins=True)
    
    # calculate classification metrics using scikit-learn
    accuracy = (cross_table.iloc[0, 0] + cross_table.iloc[1, 1]) / cross_table.loc['All', 'All'] if cross_table.shape == (3,3) else cross_table.iloc[1,0] / (cross_table.iloc[1, 0] + cross_table.iloc[0,0]) 
    precision = cross_table.iloc[1,1] / (cross_table.iloc[0,1] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) else 0
    recall = cross_table.iloc[1,1] / (cross_table.iloc[1,0] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) != 0 else 0
    f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) != 0 else 0


    # print the metrics
    print("Accuracy:", accuracy)
    print("Precision:", precision)
    print("Recall:", recall)
    print("F1 score:", f1_score)
    print(cross_table)
    print("\n")
    print(pd.crosstab(df['Final_Climate_Change_Level_Label'], df['Label_Hugging'], margins=True))
    

def get_metrics_df_hugging_face(text_df, text_column, model, tokens, model_name):
    df = classification(text_df, text_column, model, tokens)
    label_list = list(df["classification"])
    labels = [entry['label'] for entry in label_list]
    df["Label_Hugging"] = labels
    
    cross_table = pd.crosstab(df['Target'], df['Label_Hugging'], margins=True)
    
    # calculate classification metrics using scikit-learn
    accuracy = (cross_table.iloc[0, 0] + cross_table.iloc[1, 1]) / cross_table.loc['All', 'All'] if cross_table.shape == (3,3) else cross_table.iloc[1,0] / (cross_table.iloc[1, 0] + cross_table.iloc[0,0]) 
    precision = cross_table.iloc[1,1] / (cross_table.iloc[0,1] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) else 0
    recall = cross_table.iloc[1,1] / (cross_table.iloc[1,0] + cross_table.iloc[1,1]) if cross_table.shape == (3,3) != 0 else 0
    f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) != 0 else 0
    
    return(pd.DataFrame({"Model" : [model_name], "Accuracy" : [accuracy], "Precision" : [precision], "Recall" : [recall],
                         "F1 Score" : [f1_score]}))

# 1. Labels

In [5]:
tag_climate_df = pd.read_parquet("Climate_Labels_Dataset.parquet")

#Clean the tabel
tag_climate_df['Final_Climate_Change_Level_Label'] = tag_climate_df['Final_Climate_Change_Level_Label'].str.strip()
tag_climate_df.loc[tag_climate_df["Final_Climate_Change_Level_Label"] == "NA", "Final_Climate_Change_Level_Label"] = "Na"
tag_climate_df.loc[tag_climate_df["Final_Climate_Change_Level_Label"] == "0", "Final_Climate_Change_Level_Label"] = "Na"
tag_climate_df.loc[tag_climate_df["Final_Climate_Change_Level_Label"] == "Na", "Final_Climate_Change_Level_Label"] = "No Climate"
tag_climate_df["Target"] = tag_climate_df["Final_Climate_Change_Level_Label"].apply(lambda x: "Yes" if x in ["High", "Medium"] else "No")
tag_climate_df

,Text,Link,Final_Climate_Change_Level_Label,Final_Sentiment_Label,Target
0,"On a Train trip north toward Aberdeen, the Sc...",https://www.wsj.com/articles/surfacing-review-...,Medium,-1,Yes
1,A container area at the Yangshan Deep Water Po...,https://www.washingtonpost.com/news/monkey-cag...,No Climate,0,No
2,"This week, New York City observed an annual r...",https://www.wsj.com/articles/lets-get-the-un-o...,No Climate,0,No
3,"During a visit to Detroit last year, Presiden...",https://www.wsj.com/articles/make-cars-great-a...,High,1,Yes
4,Investors holding more than $5 billion in Exx...,http://www.wsj.com/articles/calpers-pushes-exx...,High,1,Yes
...,...,...,...,...,...
495,No spending cuts to Medicaid? Then no tax cuts...,https://www.washingtonpost.com/news/fact-check...,No Climate,0,No
496,"The U.S. dollar edged higher Tuesday, maintai...",https://www.wsj.com/articles/u-s-dollar-edges-...,No Climate,0,No
497,Lots of today’s board games are just jazzed-u...,http://www.wsj.com/articles/the-many-guises-of...,No Climate,0,No
498,"The new $1,000 iPhone 11 Pro and the $1,100 iP...",https://www.washingtonpost.com/technology/2019...,No Climate,0,No
499,Oil driller Transocean Ltd. swung to a first-...,http://www.wsj.com/articles/transocean-swings-...,No Climate,0,No

In [6]:
overview_labels_hms = tag_climate_df.groupby("Final_Climate_Change_Level_Label")["Text"].count().reset_index()
overview_labels_hms

  Final_Climate_Change_Level_Label  Text
0                             High    57
1                           Medium    42
2                       No Climate   307
3                            Small    94

In [7]:
overview_labels = tag_climate_df.groupby("Target")["Text"].count().reset_index()
overview_labels

  Target  Text
0     No   401
1    Yes    99

## Splits in Train en Test set

In [8]:
# Split the dataframe into two sets
df_train, df_test = train_test_split(tag_climate_df, test_size = 0.3, random_state = 23)
df_train = df_train.reset_index(drop = True)
df_test = df_test.reset_index(drop = True)

In [9]:
df_train.groupby("Final_Climate_Change_Level_Label")["Text"].count().reset_index()

  Final_Climate_Change_Level_Label  Text
0                             High    38
1                           Medium    35
2                       No Climate   213
3                            Small    64

In [10]:
df_train.groupby("Target")["Text"].count().reset_index()

  Target  Text
0     No   277
1    Yes    73

In [11]:
df_test.groupby("Final_Climate_Change_Level_Label")["Text"].count().reset_index()

  Final_Climate_Change_Level_Label  Text
0                             High    19
1                           Medium     7
2                       No Climate    94
3                            Small    30

In [12]:
df_test.groupby("Target")["Text"].count().reset_index()

  Target  Text
0     No   124
1    Yes    26

# 2. Lexicons

In [13]:
#Load the lexicon
UNDP_Lexicon = pd.read_csv("Lexicons/UNDP_Lexicon")
UNDP_Lexicon = UNDP_Lexicon.drop_duplicates().reset_index(drop = True)
UNDP_Lexicon["Lexicon"] = UNDP_Lexicon["Lexicon"].str.lower()
UNDP_Lexicon = pd.DataFrame(UNDP_Lexicon["Lexicon"])
UNDP_Lexicon

                                      Lexicon
0                                     weather
1                                     climate
2                            greenhouse gases
3                    greenhouse gas emmisions
4                              global warming
5                              climate change
6                              climate crisis
7                               feedback loop
8                               tipping point
9                           climate overshoot
10                                 mitigation
11                                 adaptation
12                                 resilience
13                           carbon footprint
14                            climate justice
15                     nature-based solutions
16                       indigenous knowledge
17                            loss and damage
18                           climate security
19                            climate finance
20                                   net zero
21                            decarbonization
22                           renewable energy
23                                carbon sink
24                             carbon removal
25                             carbon capture
26                             carbon markets
27                   regenerative agriculture
28                              reforestation
29                              afforestation
30                                  rewilding
31                           circular economy
32                               blue economy
33                                 green jobs
34                               greenwashing
35                            just transition
36                                    unfccc
37                  conference of the parties
38                                       cop
39                            paris agreement
40        nationally determined contributions
41                      transparent reporting
42                               transparency
43                  national adaptation plans
44                       long-term strategies
45  intergovernmental panel on climate change

In [14]:
#Load the lexicon
IPCC_Lexicon = pd.read_csv("Lexicons/IPCC_Lexicon")
IPCC_Lexicon = IPCC_Lexicon.drop_duplicates().reset_index(drop = True)
IPCC_Lexicon["Lexicon"] = IPCC_Lexicon["Lexicon"].str.lower()
IPCC_Lexicon = pd.DataFrame(IPCC_Lexicon["Lexicon"])
IPCC_Lexicon

                                          Lexicon
0        acceptability of policy or system change
1                                    adaptability
2                                      adaptation
3                            adaptation behaviour
4                               adaptation limits
..                                            ...
338  for climate change mitigation and adaptation
339                                sea level rise
340                                sea level fall
341                                        social
342                                       unfccc

[343 rows x 1 columns]

In [15]:
#Load the lexicon
EPA_Lexicon = pd.read_csv("Lexicons/EPA_Lexicon")
EPA_Lexicon = EPA_Lexicon.drop_duplicates().reset_index(drop = True)
EPA_Lexicon["Lexicon"] = EPA_Lexicon["Lexicon"].str.lower()
EPA_Lexicon = pd.DataFrame(EPA_Lexicon["Lexicon"])

EPA_Lexicon

                   Lexicon
0    abrupt climate change
1               adaptation
2        adaptive capacity
3                 aerosols
4            afforestation
..                     ...
148             wastewater
149            water vapor
150                weather
151  100-year flood levels
152        or earth system

[153 rows x 1 columns]

In [16]:
#Load the lexicon
Wikipedia_Lexicon = pd.read_csv("Lexicons/Wikipedia_Lexicon")
Wikipedia_Lexicon = Wikipedia_Lexicon.drop_duplicates().reset_index(drop = True)
Wikipedia_Lexicon["Lexicon"] = Wikipedia_Lexicon["Lexicon"].str.lower()
Wikipedia_Lexicon

                  Lexicon
0    100,000-year problem
1              adaptation
2           additionality
3                  albedo
4            anoxic event
..                    ...
159             volcanism
160           water vapor
161               weather
162  world climate report
163         younger dryas

[164 rows x 1 columns]

In [17]:
#Load the lexicon
Global_Change_Lexicon = pd.read_csv("Lexicons/Global_Change_Lexicon")
Global_Change_Lexicon = Global_Change_Lexicon.drop_duplicates().reset_index(drop = True)
Global_Change_Lexicon["Lexicon"] = Global_Change_Lexicon["Lexicon"].str.lower()
Global_Change_Lexicon

                      Lexicon
0              100-year flood
1          emissions scenario
2                  adaptation
3          adaptation science
4           adaptive capacity
..                        ...
100                    vector
101             vulnerability
102  vulnerability assessment
103            water security
104              water stress

[105 rows x 1 columns]

In [18]:
#Load the lexicon
BBC_Lexicon = pd.read_csv("Lexicons/BBC_Lexicon")
BBC_Lexicon = BBC_Lexicon.drop_duplicates().reset_index(drop = True)
BBC_Lexicon["Lexicon"] = BBC_Lexicon["Lexicon"].str.lower()

BBC_Lexicon = pd.DataFrame(BBC_Lexicon["Lexicon"])
BBC_Lexicon

                         Lexicon
0                     adaptation
1                adaptation fund
2              annex i countries
3                       annex ii
4   anthropogenic climate change
..                           ...
57           technology transfer
58                 tipping point
59          twenty-twenty-twenty
60                       350/450
61                      20-20-20

[62 rows x 1 columns]

In [19]:
pd.concat([EPA_Lexicon, BBC_Lexicon]).drop_duplicates().reset_index(drop = True).to_csv("Lexicons/EPA_BBC_Lexicon")

In [20]:
#Create an empty dataframe and write a function to fill with the values

common_words_df = pd.DataFrame({"Lexicon" : ["Global Change", "IPCC", "Wikipedia", "EPA", "BBC", "UNDP"], 
                               "Global Change": [0, 0, 0, 0, 0, 0], "IPCC" : [0, 0, 0, 0, 0, 0], 
                               "Wikipedia" : [0, 0, 0, 0, 0, 0], "EPA" : [0, 0, 0, 0, 0, 0], 
                               "BBC" : [0, 0, 0, 0, 0, 0], "UNDP" : [0, 0, 0, 0, 0, 0]})

dfs = [Global_Change_Lexicon, IPCC_Lexicon, Wikipedia_Lexicon, EPA_Lexicon, BBC_Lexicon, UNDP_Lexicon]

for r in range(0, len(dfs)):
    for c in range(0, len(dfs)):
        # Get the common values between the two columns
        common_words = set(dfs[r]['Lexicon']).intersection(set(dfs[c]['Lexicon']))
        common_words_df.loc[r, common_words_df.columns[c +1]] = len(common_words)/len(dfs[c]['Lexicon'])

common_words_df

,Lexicon,Global Change,IPCC,Wikipedia,EPA,BBC,UNDP
0,Global Change,1.000000,0.110787,0.073171,0.130719,0.177419,0.152174
1,IPCC,0.361905,1.000000,0.170732,0.261438,0.306452,0.391304
2,Wikipedia,0.114286,0.081633,1.000000,0.215686,0.241935,0.217391
3,EPA,0.190476,0.116618,0.201220,1.000000,0.225806,0.282609
4,BBC,0.104762,0.055394,0.091463,0.091503,1.000000,0.217391
5,UNDP,0.066667,0.052478,0.060976,0.084967,0.161290,1.000000

In [21]:
#Create an empty dataframe and write a function to fill with the values

common_words_df = pd.DataFrame({"Lexicon" : ["Global Change", "IPCC", "Wikipedia", "EPA", "BBC", "UNDP"], 
                               "Global Change": [0, 0, 0, 0, 0, 0], "IPCC" : [0, 0, 0, 0, 0, 0], 
                               "Wikipedia" : [0, 0, 0, 0, 0, 0], "EPA" : [0, 0, 0, 0, 0, 0], 
                               "BBC" : [0, 0, 0, 0, 0, 0], "UNDP" : [0, 0, 0, 0, 0, 0]})

dfs = [Global_Change_Lexicon, IPCC_Lexicon, Wikipedia_Lexicon, EPA_Lexicon, BBC_Lexicon, UNDP_Lexicon]

for r in range(0, len(dfs)):
    for c in range(0, len(dfs)):
        # Get the common values between the two columns
        common_words = set(dfs[r]['Lexicon']).intersection(set(dfs[c]['Lexicon']))
        common_words_df.loc[r, common_words_df.columns[c +1]] = len(common_words)

common_words_df

         Lexicon  Global Change  IPCC  Wikipedia  EPA  BBC  UNDP
0  Global Change            105    38         12   20   11     7
1           IPCC             38   343         28   40   19    18
2      Wikipedia             12    28        164   33   15    10
3            EPA             20    40         33  153   14    13
4            BBC             11    19         15   14   62    10
5           UNDP              7    18         10   13   10    46

In [22]:
dfs = [Global_Change_Lexicon, IPCC_Lexicon, Wikipedia_Lexicon, EPA_Lexicon, BBC_Lexicon, UNDP_Lexicon]
non_unique_words = []
unique_words = []
total_words = []
for r in range(len(dfs)):
    common_words = []
    for c in range(len(dfs)):
        if c != r:
            # Get the common values between the two columns
            common_words.extend(list(set(dfs[r]['Lexicon']).intersection(set(dfs[c]['Lexicon']))))
    common_words = list(set(common_words))  # Remove duplicates by converting to a set and back to a list
    total_words.append(len(dfs[r]["Lexicon"]))
    unique_words.append(len(dfs[r]["Lexicon"]) - len(common_words))
    non_unique_words.append(len(common_words))

non_unique_words

unique_words_df = pd.DataFrame({"Lexicon" : ["Global Change", "IPCC", "Wikipedia", "EPA", "BBC", "UNDP"], 
                                "Non unique words" : non_unique_words, "unique words" : unique_words, 
                               "total_words" : total_words})

unique_words_df["Richness"] = unique_words_df["unique words"] / unique_words_df["total_words"]

unique_words_df

         Lexicon  Non unique words  unique words  total_words  Richness
0  Global Change                45            60          105  0.571429
1           IPCC                80           263          343  0.766764
2      Wikipedia                47           117          164  0.713415
3            EPA                59            94          153  0.614379
4            BBC                30            32           62  0.516129
5           UNDP                25            21           46  0.456522

# 3. Classification Models

## 3.1. Lexicons

### 3.1.1. Train Lexicons

In [23]:
Text_df = df_train.copy()
Text_df["Text"] = Text_df["Text"].apply(preprocess_text)

In [88]:
start = time.time()

names = ["IPCC", "Global_Change", "UNDP", "EPA", "Wikipedia", "BBC"]
All_names = []
# Generate all combinations
all_combinations = []
for r in range(1, len(names) + 1):
    combinations_r = combinations(names, r)
    all_combinations.extend(combinations_r)

# Print all combinations
for combination in all_combinations:
    combined_string = "_".join(combination)
    All_names.append(combined_string)
    
Lexicons = [IPCC_Lexicon, Global_Change_Lexicon, UNDP_Lexicon, EPA_Lexicon, Wikipedia_Lexicon, BBC_Lexicon]
All_Lexicons = []
# Generate all combinations
all_combinations = []
for r in range(1, len(Lexicons) + 1):
    combinations_r = combinations(Lexicons, r)
    all_combinations.extend(combinations_r)

# Concatenate and print all combinations
for combination in all_combinations:
    combined_df = pd.concat(combination, axis=0).drop_duplicates().reset_index()
    All_Lexicons.append(combined_df)
    
results_df = pd.DataFrame()

start_results = time.time()

print("--- %s seconds ---" % (start_results - start))

for i in range(len(All_Lexicons)):
    r_df = find_optimal_threshold(Text_df, All_Lexicons[i], All_names[i])
    results_df = pd.concat([results_df, r_df])

results_df = results_df.reset_index(drop = True)

print("--- %s seconds ---" % (time.time() - start_results))

--- 0.2932164669036865 seconds ---
--- 1741.7407014369965 seconds ---

In [89]:
results_df.sort_values(by = "Accuracy", ascending = False)

,Lexicon,Technique,Threshold,Accuracy,Precision,Recall,F1 Score
76,EPA_BBC,Absolute Frequency,7.0,0.928571,0.900000,0.739726,0.812030
160,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.928571,0.900000,0.739726,0.812030
78,EPA_BBC,Relative Frequency,0.5,0.925714,0.790123,0.876712,0.831169
150,UNDP_EPA_Wikipedia,Relative Frequency,0.6,0.925714,0.813333,0.835616,0.824324
12,EPA,Absolute Frequency,6.0,0.925714,0.861538,0.767123,0.811594
...,...,...,...,...,...,...,...
121,IPCC_Wikipedia_BBC,Absolute Present,6.0,0.834286,0.572816,0.808219,0.670455
1,IPCC,Absolute Present,6.0,0.834286,0.578947,0.753425,0.654762
37,IPCC_Wikipedia,Absolute Present,6.0,0.834286,0.574257,0.794521,0.666667
41,IPCC_BBC,Absolute Present,6.0,0.834286,0.577320,0.767123,0.658824
25,IPCC_Global_Change,Absolute Present,7.0,0.822857,0.566265,0.643836,0.602564

In [90]:
results_df.to_parquet("Classification_Results\Lexicon_Tagging_Train_Results.parquet")

### 3.1.2. Test Lexicons

In [24]:
Text_df_test = df_test.copy()
Text_df_test["Text"] = Text_df_test["Text"].apply(preprocess_text)

In [92]:
start = time.time()

names = ["IPCC", "Global_Change", "UNDP", "EPA", "Wikipedia", "BBC"]
All_names = []
# Generate all combinations
all_combinations = []
for r in range(1, len(names) + 1):
    combinations_r = combinations(names, r)
    all_combinations.extend(combinations_r)

# Print all combinations
for combination in all_combinations:
    combined_string = "_".join(combination)
    All_names.append(combined_string)
    
Lexicons = [IPCC_Lexicon, Global_Change_Lexicon, UNDP_Lexicon, EPA_Lexicon, Wikipedia_Lexicon, BBC_Lexicon]
All_Lexicons = []
# Generate all combinations
all_combinations = []
for r in range(1, len(Lexicons) + 1):
    combinations_r = combinations(Lexicons, r)
    all_combinations.extend(combinations_r)

# Concatenate and print all combinations
for combination in all_combinations:
    combined_df = pd.concat(combination, axis=0).drop_duplicates().reset_index()
    All_Lexicons.append(combined_df)
    
test_result_df = pd.DataFrame()

start_results = time.time()

print("--- %s seconds ---" % (start_results - start))

for n in range(0, len(All_names)):
    test_lexicon_result = test_lexicon(Text_df_test, results_df[results_df["Lexicon"] == All_names[n]], All_Lexicons[All_names.index(All_names[n])], All_names[n])
    test_result_df = pd.concat([test_result_df, test_lexicon_result])
    
print("--- %s seconds ---" % (time.time() - start_results))

--- 0.16655516624450684 seconds ---
--- 600.1615781784058 seconds ---

In [93]:
test_result_df.sort_values(by = "Test Accuracy", ascending = False)

,Lexicon,Technique,Threshold,Test Accuracy,Test Precision,Test Recall,Test F1 Score
0,EPA_BBC,Absolute Frequency,7.0,0.966667,0.920000,0.884615,0.901961
0,UNDP_EPA_BBC,Absolute Frequency,6.0,0.960000,0.833333,0.961538,0.892857
0,UNDP_EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615,0.884615
0,UNDP_EPA_Wikipedia,Absolute Frequency,6.0,0.960000,0.857143,0.923077,0.888889
0,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615,0.884615
...,...,...,...,...,...,...,...
1,IPCC,Absolute Present,6.0,0.793333,0.444444,0.769231,0.563380
1,IPCC_UNDP,Absolute Present,6.0,0.793333,0.446809,0.807692,0.575342
1,IPCC_UNDP_EPA_BBC,Absolute Present,6.0,0.793333,0.448980,0.846154,0.586667
1,IPCC_EPA,Absolute Present,6.0,0.793333,0.448980,0.846154,0.586667
1,IPCC_UNDP_Wikipedia_BBC,Absolute Present,6.0,0.793333,0.446809,0.807692,0.575342

In [94]:
test_result_df.to_parquet("Classification_Results\Lexicon_Tagging_Test_Results.parquet")

## 3.2. Bert

In [40]:
bert_test_df = df_test.copy()

In [41]:
bert1 = get_metrics_df_hugging_face(bert_test_df, 'Text',"climatebert/environmental-claims",512, "climatebert/environmental-claims")
bert2 = get_metrics_df_hugging_face(bert_test_df, "Text", "climatebert/distilroberta-base-climate-detector", 512, "climatebert/distilroberta-base-climate-detector")
bert_df = pd.concat([bert1, bert2]).reset_index(drop = True)

Downloading:   0%|          | 0.00/1.34k [00:00<?, ?B/s]

C:\Users\Boedt\anaconda3\lib\site-packages\huggingface_hub\file_download.py:127: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Boedt\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading:   0%|          | 0.00/798k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/456k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/2.15M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/4.98k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/280 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/854 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/329M [00:00<?, ?B/s]

In [42]:
bert_df

,Model,Accuracy,Precision,Recall,F1 Score
0,climatebert/environmental-claims,0.173333,0.000000,0.0,0.000000
1,climatebert/distilroberta-base-climate-detector,0.886667,0.604651,1.0,0.753623

In [ ]:
bert_df.to_parquet("Classification_Results\Bert_Tagging_Test_Results.parquet")

# 4. Comparing Results

In [25]:
Lexicon_train_result_df = pd.read_parquet("Classification_Results\Lexicon_Tagging_Train_Results.parquet")
Lexicon_test_result_df = pd.read_parquet("Classification_Results\Lexicon_Tagging_Test_Results.parquet")
Bert_test_result_df = pd.read_parquet("Classification_Results\Bert_Tagging_Test_Results.parquet")

In [26]:
Lexicon_train_result_df.sort_values(by = "Accuracy", ascending = False).head(10).reset_index(drop = True)

,Lexicon,Technique,Threshold,Accuracy,Precision,Recall,F1 Score
0,EPA_BBC,Absolute Frequency,7.0,0.928571,0.900000,0.739726,0.812030
1,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.928571,0.900000,0.739726,0.812030
2,EPA_BBC,Relative Frequency,0.5,0.925714,0.790123,0.876712,0.831169
3,UNDP_EPA_Wikipedia,Relative Frequency,0.6,0.925714,0.813333,0.835616,0.824324
4,EPA,Absolute Frequency,6.0,0.925714,0.861538,0.767123,0.811594
5,UNDP_EPA,Absolute Frequency,6.0,0.925714,0.861538,0.767123,0.811594
6,UNDP_EPA_BBC,Relative Frequency,0.5,0.925714,0.783133,0.890411,0.833333
7,UNDP_EPA,Relative Frequency,0.6,0.925714,0.821918,0.821918,0.821918
8,UNDP_EPA_BBC,Absolute Frequency,6.0,0.925714,0.850746,0.780822,0.814286
9,EPA_Wikipedia,Absolute Frequency,7.0,0.925714,0.898305,0.726027,0.803030

In [27]:
Lexicon_test_result_df.sort_values(by = ["Test Precision", "Test Accuracy"], ascending = False).head(10).reset_index(drop = True)[["Lexicon", "Technique", "Threshold", "Test Precision", "Test Accuracy", "Test Recall"]]

,Lexicon,Technique,Threshold,Test Precision,Test Accuracy,Test Recall
0,Wikipedia,Absolute Frequency,7.0,0.944444,0.933333,0.653846
1,EPA_BBC,Absolute Frequency,7.0,0.920000,0.966667,0.884615
2,UNDP_Wikipedia,Absolute Frequency,7.0,0.909091,0.946667,0.769231
3,Wikipedia_BBC,Absolute Frequency,7.0,0.909091,0.946667,0.769231
4,UNDP_Wikipedia_BBC,Absolute Frequency,7.0,0.909091,0.946667,0.769231
5,UNDP_Wikipedia_BBC,Relative Present,0.4,0.900000,0.933333,0.692308
6,BBC,Relative Present,0.2,0.894737,0.926667,0.653846
7,Wikipedia_BBC,Relative Present,0.4,0.894737,0.926667,0.653846
8,Global_Change_UNDP_Wikipedia,Relative Frequency,1.1,0.894737,0.926667,0.653846
9,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.884615,0.960000,0.884615

In [28]:
Lexicon_test_result_df.sort_values(by = ["Test Accuracy", "Test Precision"], ascending = False).head(10).reset_index(drop = True)[["Lexicon", "Technique", "Threshold", "Test Accuracy", "Test Precision", "Test Recall"]]

,Lexicon,Technique,Threshold,Test Accuracy,Test Precision,Test Recall
0,EPA_BBC,Absolute Frequency,7.0,0.966667,0.920000,0.884615
1,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615
2,UNDP_EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615
3,EPA,Absolute Frequency,6.0,0.960000,0.857143,0.923077
4,UNDP_EPA,Absolute Frequency,6.0,0.960000,0.857143,0.923077
5,UNDP_EPA_Wikipedia,Absolute Frequency,6.0,0.960000,0.857143,0.923077
6,UNDP_EPA_BBC,Absolute Frequency,6.0,0.960000,0.833333,0.961538
7,EPA_Wikipedia,Absolute Frequency,7.0,0.953333,0.880000,0.846154
8,BBC,Relative Frequency,0.2,0.953333,0.827586,0.923077
9,UNDP_Wikipedia,Absolute Frequency,7.0,0.946667,0.909091,0.769231

In [29]:
Lexicon_test_result_df.sort_values(by = ["Test F1 Score", "Test Accuracy", "Test Precision"], ascending = False).head(10).reset_index(drop = True)[["Lexicon", "Technique", "Threshold", "Test Accuracy", "Test Precision", "Test Recall", "Test F1 Score"]]

,Lexicon,Technique,Threshold,Test Accuracy,Test Precision,Test Recall,Test F1 Score
0,EPA_BBC,Absolute Frequency,7.0,0.966667,0.920000,0.884615,0.901961
1,UNDP_EPA_BBC,Absolute Frequency,6.0,0.960000,0.833333,0.961538,0.892857
2,EPA,Absolute Frequency,6.0,0.960000,0.857143,0.923077,0.888889
3,UNDP_EPA,Absolute Frequency,6.0,0.960000,0.857143,0.923077,0.888889
4,UNDP_EPA_Wikipedia,Absolute Frequency,6.0,0.960000,0.857143,0.923077,0.888889
5,EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615,0.884615
6,UNDP_EPA_Wikipedia_BBC,Absolute Frequency,7.0,0.960000,0.884615,0.884615,0.884615
7,BBC,Relative Frequency,0.2,0.953333,0.827586,0.923077,0.872727
8,EPA_Wikipedia,Absolute Frequency,7.0,0.953333,0.880000,0.846154,0.862745
9,EPA,Relative Frequency,0.5,0.946667,0.781250,0.961538,0.862069

In [30]:
Lexicons_names = ["BBC", "EPA", "Wikipedia", "UNDP", "IPCC", "Global_Change"]
Solo_Lexicons_df = Lexicon_test_result_df[Lexicon_test_result_df["Lexicon"].isin(Lexicons_names)]

In [31]:
pd.DataFrame(Solo_Lexicons_df.groupby("Lexicon")["Test Accuracy"].max()).sort_values(by = "Test Accuracy", ascending = False)

               Test Accuracy
Lexicon
EPA                 0.960000
BBC                 0.953333
UNDP                0.940000
Wikipedia           0.940000
IPCC                0.920000
Global_Change       0.853333

In [32]:
Lexicon_test_result_df.groupby("Technique")["Test Accuracy"].max()

Technique
Absolute Frequency    0.966667
Absolute Present      0.926667
Relative Frequency    0.953333
Relative Present      0.940000
Name: Test Accuracy, dtype: float64

In [33]:
data = get_most_words_used(Text_df_test, EPA_Lexicon)
EPA_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test, BBC_Lexicon)
BBC_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test, UNDP_Lexicon)
UNDP_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test, Wikipedia_Lexicon)
Wikipedia_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test, IPCC_Lexicon)
IPCC_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test, Global_Change_Lexicon)
Global_Change_words_used = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

100%|███████████████████████████████████████████████████████████████████████████████| 150/150 [00:01<00:00, 146.54it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 150/150 [00:00<00:00, 378.98it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 150/150 [00:00<00:00, 461.59it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 150/150 [00:01<00:00, 145.96it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [00:02<00:00, 70.89it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 150/150 [00:00<00:00, 208.93it/s]

In [34]:
EPA_top = EPA_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
EPA_top.columns = ["EPA", "Count"]
BBC_top = BBC_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
BBC_top.columns = ["BBC", "Count"]
Wikipedia_top = Wikipedia_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
Wikipedia_top.columns = ["Wikipedia", "Count"]
UNDP_top = UNDP_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
UNDP_top.columns = ["UNDP", "Count"]
IPCC_top = IPCC_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
IPCC_top.columns = ["IPCC", "Count"]
Global_Change_top = Global_Change_words_used.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
Global_Change_top.columns = ["Global Change", "Count"]

top_df = pd.concat([EPA_top, BBC_top, Wikipedia_top, UNDP_top, IPCC_top, Global_Change_top], axis = 1)

In [35]:
top_df

,EPA,Count,BBC,Count,Wikipedia,Count,UNDP,Count,IPCC,Count,Global Change,Count
0,climate,62,climate change,59,climate,62,climate,62,climate,62,climate change,59
1,climate change,59,fossil fuels,7,climate change,59,climate change,59,climate change,59,risk,38
2,emissions,13,global warming,7,weather,10,weather,10,risk,38,value,26
3,weather,10,renewable energy,5,fossil fuel,8,global warming,7,agreement,30,evolution,13
4,fossil fuel,8,methane,3,global warming,7,renewable energy,5,social,28,uncertainty,12
5,global warming,7,greenhouse gases,2,greenhouse gas,5,transparency,3,region,24,global warming,7
6,atmosphere,6,mitigation,2,ozone,4,adaptation,2,model,24,feedback,5
7,renewable energy,5,adaptation,2,argo,4,mitigation,2,policies,23,scenario,5
8,greenhouse gas,5,carbon dioxide,2,methane,3,climate crisis,2,institution,17,sink,4
9,ozone,4,hockey stick,1,climate crisis,2,decarbonization,2,evidence,16,ozone,4

In [36]:
data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], EPA_Lexicon)
EPA_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], BBC_Lexicon)
BBC_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], UNDP_Lexicon)
UNDP_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], Wikipedia_Lexicon)
Wikipedia_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], IPCC_Lexicon)
IPCC_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

data = get_most_words_used(Text_df_test[Text_df_test["Target"] == "Yes"], Global_Change_Lexicon)
Global_Change_words_used_Yes = pd.DataFrame.from_dict(data, orient='index', columns=['Count']).reset_index().rename(columns={'index': 'Word'})

100%|█████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 141.87it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 367.19it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 481.26it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 145.61it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 67.49it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 219.51it/s]

In [37]:
EPA_top_Yes = EPA_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
EPA_top_Yes.columns = ["EPA", "Count"]
BBC_top_Yes = BBC_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
BBC_top_Yes.columns = ["BBC", "Count"]
Wikipedia_top_Yes = Wikipedia_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
Wikipedia_top_Yes.columns = ["Wikipedia", "Count"]
UNDP_top_Yes = UNDP_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
UNDP_top_Yes.columns = ["UNDP", "Count"]
IPCC_top_Yes = IPCC_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
IPCC_top_Yes.columns = ["IPCC", "Count"]
Global_Change_top_Yes = Global_Change_words_used_Yes.sort_values("Count", ascending = False).head(10).reset_index(drop = True)
Global_Change_top_Yes.columns = ["Global Change", "Count"]

top_df_Yes = pd.concat([EPA_top_Yes, BBC_top_Yes, Wikipedia_top_Yes, UNDP_top_Yes, IPCC_top_Yes, Global_Change_top_Yes], axis = 1)

In [38]:
top_df_Yes

,EPA,Count,BBC,Count,Wikipedia,Count,UNDP,Count,IPCC,Count,Global Change,Count
0,climate,25,climate change,25,climate,25,climate,25,climate change,25,climate change,25
1,climate change,25,fossil fuels,6,climate change,25,climate change,25,climate,25,risk,10
2,emissions,13,global warming,6,fossil fuel,7,global warming,6,agreement,10,value,8
3,fossil fuel,7,renewable energy,4,global warming,6,weather,6,risk,10,global warming,6
4,global warming,6,methane,3,weather,6,renewable energy,4,region,8,scenario,4
5,weather,6,greenhouse gases,2,greenhouse gas,5,greenhouse gases,2,policies,7,uncertainty,3
6,greenhouse gas,5,mitigation,2,methane,3,decarbonization,2,fossil fuels,6,evolution,3
7,renewable energy,4,carbon dioxide,2,argo,2,mitigation,2,model,6,greenhouse gases,2
8,natural gas,4,hockey stick,1,ozone,2,paris agreement,2,global warming,6,mitigation,2
9,atmosphere,4,carbon neutral,1,carbon dioxide,2,tipping point,1,greenhouse gas,5,ozone,2

In [39]:
input_df = Text_df_test[Text_df_test["Target"] == "Yes"].copy()
pmax = []
pmin = []
fmax = []
fmin = []
pmean = []
fmean = []

df = count_lexicon_words(input_df, EPA_Lexicon)
pmax.append(df["Absolute Present"].max())
pmin.append(df["Absolute Present"].min())
fmax.append(df["Absolute Frequency"].max())
fmin.append(df["Absolute Frequency"].min())
pmean.append(df["Absolute Present"].mean())
fmean.append(df["Absolute Frequency"].mean())

In [40]:
#IPCC_UNDP_BBC
Lexicon_cross = pd.concat([EPA_Lexicon, BBC_Lexicon]).drop_duplicates()
get_cross_table(Text_df_test, Lexicon_cross, 7, "Absolute Frequency", True)

Estimate   No  Yes  All
Target
No        122    2  124
Yes         3   23   26
All       125   25  150

In [41]:
get_cross_table(Text_df_test, EPA_Lexicon, 0.6, "Relative Frequency", True)

Estimate   No  Yes  All
Target
No        119    5  124
Yes         3   23   26
All       122   28  150

In [42]:
Bert_test_result_df

,Model,Accuracy,Precision,Recall,F1 Score
0,climatebert/environmental-claims,0.36,0.000000,0.000000,0.000000
1,climatebert/distilroberta-base-climate-detector,0.79,0.647059,0.916667,0.758621

# 5. Classify Articles

In [ ]:
WP = pd.read_parquet("C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Final/WP_Final_Articles.parquet")
WP_clean = WP.copy()
WP_clean["Text"] = WP_clean["Text"].apply(preprocess_text)

In [43]:
WSJ = pd.read_parquet("C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Final/WSJ_Final")
WSJ_clean = WSJ.copy()
WSJ_clean["Text"] = WSJ_clean["Text"].apply(preprocess_text)

In [46]:
Lexicon = pd.concat([EPA_Lexicon, BBC_Lexicon]).drop_duplicates()
test = count_lexicon_words(WSJ_clean, Lexicon)

100%|██████████████████████████████████████████████████████████████████████████| 199943/199943 [38:47<00:00, 85.89it/s]

In [59]:
test["Climate"] = "No"
test.loc[test["Absolute Frequency"] >= 7, "Climate"] = "Yes"

In [61]:
WSJ

,Title,Text,Link,Date,News Paper,Year
0,Transcript: Wells Fargo CEO John Stumpf’s Hous...,"John Stumpf, chairman and CEO of Wells Fargo W...",http://www.wsj.com/articles/transcript-wells-f...,2016-09-29,Wall_Street_Journal,2016
1,Transcript: Jerome Powell Fields Questions at ...,Federal Reserve Chairman Jerome Powell testifi...,https://www.wsj.com/articles/transcript-jerome...,2018-02-28,Wall_Street_Journal,2018
2,Transcript: Janet Yellen’s House Testimony on ...,Federal Reserve Chairwoman Janet Yellen testif...,http://www.wsj.com/articles/transcript-janet-y...,2016-09-28,Wall_Street_Journal,2016
3,"Transcript of Yellen’s Feb. 10, 2016, Appearan...",Federal Reserve Chairwoman Janet Yellen delive...,http://www.wsj.com/articles/transcript-of-yell...,2016-11-02,Wall_Street_Journal,2016
4,"Transcript: Wells Fargo Hearing, Panel 1",Note to Readers: This is an unedited rush tran...,http://www.wsj.com/articles/transcript-wells-f...,2016-09-20,Wall_Street_Journal,2016
...,...,...,...,...,...,...
199938,Catholic Church Differs With Donald Trump on I...,LOS ANGELES—When President Donald Trump cuttin...,http://www.wsj.com/articles/catholic-church-di...,2017-01-30,Wall_Street_Journal,2017
199939,Gold Pares Losses After Fed Minutes,"Gold prices pared losses Wednesday, after minu...",https://www.wsj.com/articles/gold-edges-lower-...,2017-11-10,Wall_Street_Journal,2017
199940,Qualcomm to Buy Back $10 Billion of Its Shares...,Qualcomm Inc. QCOM -0.80% on Tuesday unveiled ...,https://www.wsj.com/articles/qualcomm-to-buy-b...,2018-07-31,Wall_Street_Journal,2018
199941,Pooling and Payment Systems,Advertisement - Scroll to Continue Policy make...,http://www.wsj.com/articles/pooling-and-paymen...,2016-08-31,Wall_Street_Journal,2016
199942,Oil Steadies After Fresh Morning Slump in Asia,—A fresh Monday morning slump in oil futures s...,https://www.wsj.com/articles/u-s-oil-futures-a...,2018-05-27,Wall_Street_Journal,2018

In [64]:
WSJ["Text"] = WSJ["Text"].apply(text_cleaning_final)

In [66]:
WSJ

,Title,Text,Link,Date,News Paper,Year,Climate
0,Transcript: Wells Fargo CEO John Stumpf’s Hous...,"John Stumpf , chairman and CEO of Wells Fargo...",http://www.wsj.com/articles/transcript-wells-f...,2016-09-29,Wall_Street_Journal,2016,No
1,Transcript: Jerome Powell Fields Questions at ...,Federal Reserve Chairman Jerome Powell testifi...,https://www.wsj.com/articles/transcript-jerome...,2018-02-28,Wall_Street_Journal,2018,No
2,Transcript: Janet Yellen’s House Testimony on ...,Federal Reserve Chairwoman Janet Yellen testif...,http://www.wsj.com/articles/transcript-janet-y...,2016-09-28,Wall_Street_Journal,2016,No
3,"Transcript of Yellen’s Feb. 10, 2016, Appearan...",Federal Reserve Chairwoman Janet Yellen delive...,http://www.wsj.com/articles/transcript-of-yell...,2016-11-02,Wall_Street_Journal,2016,No
4,"Transcript: Wells Fargo Hearing, Panel 1",Note to Readers : This is an unedited rush tr...,http://www.wsj.com/articles/transcript-wells-f...,2016-09-20,Wall_Street_Journal,2016,No
...,...,...,...,...,...,...,...
199938,Catholic Church Differs With Donald Trump on I...,LOS ANGELES—When President Donald Trump cuttin...,http://www.wsj.com/articles/catholic-church-di...,2017-01-30,Wall_Street_Journal,2017,No
199939,Gold Pares Losses After Fed Minutes,"Gold prices pared losses Wednesday , after mi...",https://www.wsj.com/articles/gold-edges-lower-...,2017-11-10,Wall_Street_Journal,2017,No
199940,Qualcomm to Buy Back $10 Billion of Its Shares...,Qualcomm Inc . QCOM - 0 . 80 % on Tuesday u...,https://www.wsj.com/articles/qualcomm-to-buy-b...,2018-07-31,Wall_Street_Journal,2018,No
199941,Pooling and Payment Systems,Advertisement - Scroll to Continue Policy ma...,http://www.wsj.com/articles/pooling-and-paymen...,2016-08-31,Wall_Street_Journal,2016,No
199942,Oil Steadies After Fresh Morning Slump in Asia,—A fresh Monday morning slump in oil futures s...,https://www.wsj.com/articles/u-s-oil-futures-a...,2018-05-27,Wall_Street_Journal,2018,No

In [71]:
WSJ[WSJ["Year"] == 2020].reset_index(drop = True).to_parquet("C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Final/WSJ_Final_2020.parquet")