In [1]:
import pandas as pd
import os

# URLs

In [2]:
# Set the directory path
directory = "C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Wall Street Journal/URLs"

# Get a list of filenames in the directory
filenames = os.listdir(directory)

# Loop through the filenames and read each Parquet file into a DataFrame
dfs = []
for filename in filenames:
    filepath = os.path.join(directory, filename)
    df = pd.read_parquet(filepath)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
URLs_WSJ = pd.concat(dfs, ignore_index=True)

In [4]:
URLs_WSJ

,Date,News Paper,Link
0,01/01/2016,Wall_Street_Journal,http://www.wsj.com/articles/5-fashion-resoluti...
1,01/01/2016,Wall_Street_Journal,http://www.wsj.com/articles/suspect-in-new-yea...
2,01/01/2016,Wall_Street_Journal,http://www.wsj.com/articles/defenders-of-confe...
3,01/01/2016,Wall_Street_Journal,http://www.wsj.com/articles/saudi-women-seek-m...
4,01/01/2016,Wall_Street_Journal,http://www.wsj.com/articles/saudi-beheadings-a...
...,...,...,...
254877,31/12/2020,Wall_Street_Journal,https://www.wsj.com/articles/navalny-faces-fra...
254878,31/12/2020,Wall_Street_Journal,https://www.wsj.com/articles/chinese-markets-s...
254879,31/12/2020,Wall_Street_Journal,https://www.wsj.com/articles/astrazeneca-and-o...
254880,31/12/2020,Wall_Street_Journal,https://www.wsj.com/articles/covid-19-vaccine-...
254881,31/12/2020,Wall_Street_Journal,https://www.wsj.com/articles/pepper-and-salt-1...

In [5]:
#Remove the duplicate rows and the URLs with an error message in

#duplicates
URLs_WSJ = URLs_WSJ.drop_duplicates().reset_index(drop = True)

#error
mask_WSJ_URLs_error = ~ URLs_WSJ['Link'].str.contains('mod=error_page')
URLs_WSJ = URLs_WSJ[mask_WSJ_URLs_error].reset_index(drop = True)

In [6]:
#Collect URLs per year
URLs_WSJ["Date"] = pd.to_datetime(URLs_WSJ['Date'], format='%d/%m/%Y')
URLs_WSJ["Year"] = URLs_WSJ['Date'].dt.year

#Unique URLs -> unique combination of date and URL
WSJ_year_URLs_1 = URLs_WSJ.groupby(["News Paper","Year", "Date"])["Link"].nunique().reset_index(name='Unique_URLs_Count').groupby(["News Paper", "Year"]).sum("Unique_URLs_Count").reset_index()

In [7]:
WSJ_year_URLs_1

            News Paper  Year  Unique_URLs_Count
0  Wall_Street_Journal  2016              74024
1  Wall_Street_Journal  2017              59731
2  Wall_Street_Journal  2018              48922
3  Wall_Street_Journal  2019              36290
4  Wall_Street_Journal  2020              35614

In [8]:
# Set the directory path
directory = "C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Washington Post/URLs"

# Get a list of filenames in the directory
filenames = os.listdir(directory)

# Loop through the filenames and read each Parquet file into a DataFrame
dfs = []
for filename in filenames:
    filepath = os.path.join(directory, filename)
    df = pd.read_parquet(filepath)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
URLs_WP = pd.concat(dfs, ignore_index=True)

In [9]:
#Remove the duplicates
URLs_WP = URLs_WP.drop_duplicates().reset_index(drop = True)

In [10]:
#Collect URLs per year
URLs_WP["Date"] = pd.to_datetime(URLs_WP['Date'], format='%d/%m/%Y')
URLs_WP["Year"] = URLs_WP['Date'].dt.year

#Unique URLs -> unique combination of date and URL
WP_year_URLs_1 = URLs_WP.groupby(["News Paper","Year", "Date"])["Link"].nunique().reset_index(name='Unique_URLs_Count').groupby(["News Paper", "Year"]).sum("Unique_URLs_Count").reset_index()

In [20]:
WP_year_URLs_1["Unique_URLs_Count"].sum()

153178

In [12]:
WSJ_year_URLs_1

            News Paper  Year  Unique_URLs_Count
0  Wall_Street_Journal  2016              74024
1  Wall_Street_Journal  2017              59731
2  Wall_Street_Journal  2018              48922
3  Wall_Street_Journal  2019              36290
4  Wall_Street_Journal  2020              35614

In [15]:
Tabel_urls = WSJ_year_URLs_1[["Year", "Unique_URLs_Count"]].merge(WP_year_URLs_1[["Year", "Unique_URLs_Count"]], on = "Year")

In [17]:
Tabel_urls.columns = ["Year", "Wall Street Journal", "Washington Post"]

In [18]:
Tabel_urls

   Year  Wall Street Journal  Washington Post
0  2016                74024            49756
1  2017                59731            50442
2  2018                48922            28952
3  2019                36290            10275
4  2020                35614            13753

# Articles

In [26]:
# Set the directory path
directory = "C:/Users/Boedt/OneDrive/Bureaublad/Scraped_Articles/Final/"

# Get a list of filenames in the directory
filenames = os.listdir(directory)

# Loop through the filenames and read each Parquet file into a DataFrame
dfs = []
for filename in filenames:
    filepath = os.path.join(directory, filename)
    df = pd.read_parquet(filepath)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
Articles = pd.concat(dfs, ignore_index=True)

In [27]:
Articles_WSJ = Articles[Articles["News Paper"] == "Wall_Street_Journal"].reset_index(drop = True)
Articles_WP = Articles[Articles["News Paper"] == "Washington_Post"].reset_index(drop = True)

In [28]:
Articles_WP

,Title,Text,Date,News Paper,Link,Year,Climate
0,Full text: Clinton testifies before House comm...,2015 : Clinton ' s Benghazi hearing in three ...,2016-09-23,Washington_Post,https://www.washingtonpost.com/news/post-polit...,2016,No
1,"Transcript of the New Hampshire GOP debate, an...",Republican presidential candidates argue over ...,2016-02-07,Washington_Post,https://www.washingtonpost.com/news/the-fix/wp...,2016,No
2,"6th Republican debate transcript, annotated: W...",Seven candidates participated in Thursday ' s ...,2016-01-15,Washington_Post,https://www.washingtonpost.com/news/the-fix/wp...,2016,No
3,"The CNN Miami Republican debate transcript, an...","Donald Trump , Sen . Ted Cruz , Sen . Marc...",2016-03-11,Washington_Post,https://www.washingtonpost.com/news/the-fix/wp...,2016,Yes
4,"The Fox News GOP debate transcript, annotated",Republican presidential front - runner Donald ...,2016-03-04,Washington_Post,https://www.washingtonpost.com/news/the-fix/wp...,2016,No
...,...,...,...,...,...,...,...
143891,Man is killed in daylight shooting in Charles ...,Comment 0 Add to your saved stories Save Gift ...,2020-04-21,Washington_Post,https://www.washingtonpost.com/local/public-sa...,2020,No
143892,TV and radio listings: October 21,Add to your saved stories Save Gift Article Sh...,2020-10-21,Washington_Post,https://www.washingtonpost.com/sports/tv-and-r...,2020,No
143893,"For Mexico, a day without women: Female worker...",MEXICO CITY — Mexico ' s women are going on st...,2020-03-06,Washington_Post,https://www.washingtonpost.com/world/the_ameri...,2020,No
143894,What the U.S. election means for Canada and Me...,You’re reading an excerpt from the Today’s Wor...,2020-10-14,Washington_Post,https://www.washingtonpost.com/world/2020/10/1...,2020,No
143895,"Europe rallies amid crises, but its divisions ...",You’re reading an excerpt from the Today’s Wor...,2020-12-11,Washington_Post,https://www.washingtonpost.com/world/2020/12/1...,2020,No

In [44]:
Articles_WSJ[Articles_WSJ["Year"] == 2016].loc[60808, "Link"]

'http://www.wsj.com/articles/pooling-and-payment-systems-1472639503'

In [37]:
Articles_WSJ_year = Articles_WSJ.groupby(["Year", "Date"])["Link"].nunique().reset_index(name = "Count").groupby("Year")["Count"].sum().reset_index(name = "Wall Street Journal")
Articles_WSJ_year

Articles_WP_year = Articles_WP.groupby(["Year", "Date"])["Link"].nunique().reset_index(name = "Count").groupby("Year")["Count"].sum().reset_index(name = "Washington Post")
Articles_WP_year

   Year  Washington Post
0  2016            46596
1  2017            46914
2  2018            27290
3  2019             9931
4  2020            13165

In [40]:
Articles_WSJ_year.merge(Articles_WP_year, on = "Year")

   Year  Wall Street Journal  Washington Post
0  2016                60809            46596
1  2017                34036            46914
2  2018                36320            27290
3  2019                34614             9931
4  2020                34164            13165